{
	"root": true,
	"extends": ["@nuxt/eslint-config"],
	"rules": {
		// Global
		"semi": ["error", "never"],
		"quotes": ["error", "double"],
		"quote-props": ["error", "as-needed"],
		// Vue
		"vue/multi-word-component-names": 0,
		"vue/max-attributes-per-line": "off",
		"vue/no-v-html": 0,
		"vue/html-indent": [
			"error",
			"tab",
			{
				"attribute": 1,
				"baseIndent": 1,
				"closeBracket": 0,
				"alignAttributesVertically": true,
				"ignore": [":v-if"]
			}
		],
		"vue/attributes-order": "error",
		"vue/static-class-names-order": "error",
		"vue/singleline-html-element-content-newline": "off",
		"vue/html-self-closing": [
			"error",
			{
				"html": {
					"void": "always"
				}
			}
		]
	}
}
